Package: picopilot-idrop
Version: 0.5.4
Architecture: all
Depends: picopilot, picopilot-scripts
Section: net
Priority: optional
Description: Intrustion Detection Reaction Observation Platform for piCopilot.
Maintainer: stryngs <info@127.0.0.1>
